<h1>{{heroe.Ciudad_Origen}} <small>{{heroe.Ciudad_Destino}}</small></h1>
<hr>
<div class="row">

    <div class="col-md-4">
        <img [src]="heroe.img" style="width:400px;" [alt]="heroe.Ciudad_Origen" [alt]="heroe.Ciudad_Destino">
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outilne-danger btn-block"> Regresar </a>

    </div>
    <div class="col-md-8">
        <h5> Ciudad Origen: {{heroe.Ciudad_Origen}}</h5>
        <h5> Ciudad Destino: {{heroe.Ciudad_Destino}}</h5>
        <hr>
        <p>
            Descripcion: {{heroe.Descripcion}}
        </p>
        <hr>
        <p>
            Precio: {{heroe.Precio_Ruta}}
        </p>
        <hr>
        <h5>
            {{heroe.Tipo}}
        </h5>
        <div>
            <hr>
            <p *ngIf="heroe.Tipo=='Interno'"> <img src="assets\img\Interno.png" alt=""></p>
            <p *ngIf="heroe.Tipo=='Externo'"> <img src="assets\img\Externo.png" alt=""></p>


        </div>

    </div>
</div>
